.featured-work {
	display: flex;
	flex-wrap: wrap;
}

.featured {
	order: 10;
}

@media screen and (max-width: 640px) {
	.udacity-logo {
		width: 40px;
	}

	.name {
		font-size: 35px;
	}

	.self-title {
		font-size: 15px;
	}

	.title2 {
		font-size: 25px;
	}

	.featured {
		margin: 1em auto 2.5em auto;
		width: 65%;
	}

	.animal-card {
		order: 1;
	}
	
}

@media screen and (min-width: 641px) {
	.animal-card {
		order: 1;
	}

	.featured {
		margin: 1em auto 2.5em auto;
		max-width: 35%;
	}

}

@media screen and (min-width: 750px) {
	.featured-intro {
		width: 75%;
	}

	p {
		font-size: 18px;
	}

	.featured {
		max-width: 25%;
		margin-left: auto;
		margin-right: auto;
		width: 25%;
	}

	.animal-card {
		order: 1;
	}

	.brighton-times {
		order: 2;
	}

	.art-maker {
		order: 3 ;
	}

	.mockup-article {
		order: 4;
	}
}

@media screen and (min-width: 875px) {
	.featured-intro {
		margin-right: 6em;
		margin-left: 6em;
	}

	.featured {
		width: 20%;
	}

}

@media screen and (min-width: 1200px) {
	.webpage-body {
		margin-bottom: 3em;
		border-color: #7d97ad;
		width: 1200px;
		margin-right: auto;
		margin-left: auto;
	}
}