body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	background: linear-gradient(#02b3e4, #7d97ad, #2d3c49) fixed;

}

.udacity-logo {
	padding-left: 1em;
	float: left;
	width: 60px;
	height: 100%;
}

html {
	font-family: "Times New Roman", Times, serif;
}

.header {
	width: 100%;
}

.title, .self-title {
	width: 98%;
	height: 100%;
	text-align: right;
}

.title {
	font-weight: normal;
	font-size: 50px;
	margin-bottom: 0;
}

.self-title {
	margin-top: 0;
}

.inner-header {
	/*border-bottom: solid;
	border-color: #7d97ad;*/
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

.webpage-body {
	width: 100%;
	border-top: solid;
	border-color: #7d97ad;
	padding-bottom: 1em;
	background-color: rgba(211, 211, 211,0.9);
}

/*  	~~~ CSS Styling for nav bar menu  ~~~
.menu {
	margin-left: 12em;
}

.menu a {
	text-decoration: none;
	color: black;
	margin-right: 200px;
}
*/

.hero {
	width: 100%;
	height: auto;
	border-bottom: solid;
	border-color: #7d97ad;
	border-top: solid;
	border-color: #7d97ad;
}

.title2 {
	font-style: italic;
	padding: 0.5em 0.5em 0.5em 0;
	color: #7d97ad;
	text-align: center;
	border-bottom: solid;
	border-color: #7d97ad;
	margin-top: 0;
	font-size: 40px;
	width: 100%;
}

.featured {
	max-width: 190px;
	height: 110px;
	padding: 1em;
	border: hidden;
	border-radius: 10px;
	background: linear-gradient(to right, #02b3e4, #7d97ad, #2d3c49);
	text-align: center;
	display: inline-block;
}

.brighton-times-img, .art-maker-img, .animal-card-img, .mockup-article-img {
	max-width: 100%;
	max-height: 100%;
}

.featured-intro {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	padding-left: 2em;
	padding-right: 2em;
}

.links {
	margin-right: auto;
	margin-left: auto;
	margin-top: 2em;
	padding: 0;
	max-width: 100%;
	text-align: center;
}

.fab {
	color: #02b3e4;
	border: solid;
	border-radius: 20px;
	width: 75px;
	margin: 0.5em 0.5em 0.5em 0.5em;
	font-size: 50px;
}
